/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Niramit', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Niramit', sans-serif;
  color: black;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 980px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 43%;
}
header nav a {
  display: flex;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  padding: 15px 0;
  border-bottom: 1px solid #1818ad;
}
header nav a i {
  color: black;
  margin-right: 8px;
}
header nav a:hover {
  border-bottom: 1px solid white;
}
header .contact {
  padding: 10px 15px;
  border: 1px solid white;
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  border-radius: 2px;
  transition: 0.2s;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
}
header .contact:hover {
  background-color: #151597;
  box-shadow: unset;
}
.nav-bg {
  max-width: 100%;
  background-color: #1818ad;
}
.mobile-hamburger {
  display: none;
  margin: 2% 0 0 2%;
  position: absolute;
  cursor: pointer;
}
.mobile-hamburger-close {
  top: 0%;
  left: 0%;
  margin: 2% 0 0 2%;
  position: absolute;
  cursor: pointer;
}
.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: -100vw;
  z-index: 99;
}
.mobile-menu a {
  text-align: center;
  width: 50%;
  font-size: 3rem;
  text-decoration: none;
  color: black;
  padding: 15px 0;
  border-radius: 5px;
}
.mobile-menu a i {
  margin-right: 3%;
}
.mobile-menu a:hover {
  background-color: #cccccc;
}
.mobile-menu .contact-mobile {
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 5px;
}
.mobile-nav-footer {
  position: absolute;
  bottom: 1%;
}
@media (max-width: 1024px) {
  header {
    display: none;
  }
  .mobile-hamburger {
    display: flex;
  }
}
@media (max-width: 500px) {
  .mobile-hamburger {
    margin: 5% 0 0 5%;
  }
  .mobile-hamburger-close {
    margin: 5% 0 0 5%;
  }
}
@media (max-width: 328px) {
  .mobile-menu a {
    width: 80%;
  }
}
footer {
  text-align: center;
  margin: 5% 0 2% 0;
}
footer div {
  margin-bottom: 1%;
  font-size: 3rem;
}
footer div a {
  color: black;
}
.instagram {
  transition: 0.2s;
}
.instagram:hover {
  color: #fbad50;
}
.twitter {
  transition: 0.2s;
}
.twitter:hover {
  color: #1DA1F2;
}
.github {
  transition: 0.2s;
}
.github:hover {
  color: grey;
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v6/e3t4euO8T-267oIAQAu6jDQyK3nVivY.ttf) format('truetype');
}
.BSoD {
  display: flex;
  align-items: center;
  background-color: #1818ad;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
}
.BSoD div {
  width: 980px;
  height: 100vh;
  margin: 0 auto;
  color: white;
  font-size: 1.8rem;
  padding: 10% 0 15% 0;
  line-height: 3rem;
}
.BSoD div a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.BSoD div .highlight {
  font-family: 'Press Start 2P', sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #1818ad;
  background-color: #acada8;
  padding: 3px;
  width: 300px;
  font-size: 1.8rem;
}
.BSoD div .continue {
  text-align: center;
}
.BSoD div .blink {
  animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
.services {
  opacity: 0;
  transition: all 1s ease-out;
  text-align: center;
  margin: 2% 0;
}
.services h1 {
  margin-bottom: 30px;
}
.item-container {
  width: 1100px;
  margin: 0 auto;
}
.sub-nav {
  display: flex;
  justify-content: space-between;
}
.sub-nav p {
  width: 100%;
  color: darkgrey;
  margin: 0 auto;
}
.sub-nav p a {
  margin: 0 2%;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none;
  color: darkgrey;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}
.sub-nav p a:hover {
  border: 1px solid darkgray;
  transition: 0.2s;
}
.item {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease-out;
  margin: 5% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
}
.item i {
  font-size: 50rem;
  color: #1818ad;
}
.item div {
  width: 35%;
}
.item div h2 {
  margin-bottom: 4%;
}
.item-middle {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s ease-out;
}
.recent-projects {
  opacity: 0;
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: column;
  background-color: #1818ad;
  color: white;
  text-align: center;
  width: 100%;
  padding: 100px 0 230px 0;
  margin-bottom: 330px;
}
.project-header {
  width: 800px;
  margin: 0 auto;
}
.project-header h1 {
  color: white;
  margin-bottom: 3%;
}
.project-header p {
  font-size: 1.8rem;
  line-height: 3rem;
}
.project-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  width: 70%;
  left: 15%;
  padding-top: 230px;
}
.project-item-container div {
  color: black;
  border: 1px solid grey;
  height: 400px;
  width: 350px;
  display: flex;
  background-color: white;
  border-radius: 15px;
}
.project-item {
  transition: all 0.5s ease-out;
  opacity: 0;
  transform: scale(0.6);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
}
.project-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.project-item p {
  width: 90%;
  height: 80%;
  padding: 10% 0;
  font-size: 1.8rem;
  margin: auto;
}
.project-item a {
  margin-bottom: 15px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #1818ad;
}
.project-item a:hover {
  text-decoration: underline;
}
.collaborate-cta {
  transition: all 0.5s ease-out;
  opacity: 0;
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
.collaborate-cta p {
  font-size: 1.8rem;
  font-weight: lighter;
  margin: 28px 0 50px 0;
}
.projects-item-anim {
  opacity: 1;
  transform: scale(1);
}
.cta-contact {
  padding: 10px 35px;
  border: 1px solid black;
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
  border-radius: 5px;
  transition: 0.2s;
}
.cta-contact:hover {
  background-color: #1818ad;
  color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
}
.clients {
  transition: all 1s ease-out;
  opacity: 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 65%;
  margin: 0 auto;
  margin-top: 90px;
}
.clients h1 {
  text-align: center;
  margin: 3%;
}
.clients div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.clients a {
  transition: all 0.5s ease-out;
}
.clients a:hover {
  transform: scale(1.1);
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 50;
  top: 0;
}
.modal-active {
  display: block;
}
.modal-container {
  max-width: 60%;
  margin: 5% auto;
  background-color: white;
  border: 2px solid grey;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.modal-container img:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.01);
}
.two-items {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.two-items a img {
  width: 100%;
  height: 100%;
  padding: 10px 10px 0 0;
}
.gz-flyers {
  display: flex;
  height: 100%;
}
.six-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 10px 10px;
}
.six-items a {
  width: 33.3%;
}
.six-items a img {
  width: 100%;
  height: auto;
  padding: 10px 10px 0 0;
}
.gz-modal {
  margin: 9% auto;
}
.lil-pope-main {
  width: 100%;
  height: 100%;
  padding: 10px 10px 0 10px;
}
.cold-ones-item {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.vision-modal {
  max-width: 60%;
}
.lil-pope-modal {
  max-width: 30%;
  margin: 2% auto;
  padding-bottom: 10px;
}
.fade-in {
  opacity: 1;
  transform: translateX(0);
}
.clientsLogo {
  transition: all 0.5s ease-out;
  opacity: 0;
  transform: scale(0.6);
  cursor: pointer;
}
.clientsLogoAnim {
  opacity: 1;
  transform: scale(1);
}
@media (max-width: 1125px) {
  .item-container {
    width: 95%;
  }
}
@media (max-width: 1024px) {
  .BSoD p {
    width: 95%;
    margin: 0 auto;
  }
  .BSoD div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item i {
    font-size: 37rem;
    margin-bottom: 6%;
  }
  .item div {
    width: 40%;
  }
  .services {
    overflow-x: hidden;
  }
  .modal-container {
    max-width: 60%;
    margin-top: 2%;
  }
  .two-items {
    flex-direction: column;
    padding-left: 5px;
  }
  .two-items a img {
    padding: 5px 5px 0 0;
  }
  .six-items {
    padding: 0 0 5px 5px;
  }
  .six-items a img {
    padding: 5px 5px 0 0;
  }
  .cold-ones-item {
    padding: 5px;
  }
  .lil-pope-two-items {
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .item {
    flex-direction: column;
  }
  .item i {
    font-size: 25rem;
    margin-bottom: 6%;
  }
  .item p {
    line-height: 2.5rem;
  }
  .item div {
    width: 90%;
    margin-bottom: 15%;
  }
  .item-middle i {
    order: -1;
  }
  .sub-nav p {
    line-height: 5rem;
  }
  .clients {
    width: 95%;
  }
  .services h1 {
    margin: 15px 0;
  }
  .BSoD p {
    font-size: 2.5vw;
  }
  .sub-nav p a {
    flex-direction: column;
    font-size: 1.5rem;
    margin: unset;
  }
  .recent-projects {
    padding: 8% 0 35% 0;
  }
  .project-item-container {
    padding-top: 280px;
  }
  .project-header h1 {
    margin-bottom: 14px;
  }
  .modal-container {
    max-width: 95%;
    margin-top: 16%;
  }
}
@media (max-width: 1700px) {
  .project-item-container {
    width: 95%;
    left: 5%;
  }
}
@media (max-width: 1280px) {
  .recent-projects {
    margin-bottom: 150%;
  }
  .project-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    left: 10%;
  }
  .project-item-container div {
    width: 100%;
    height: 100%;
  }
  .project-item {
    margin-bottom: 50px;
  }
  .project-item p {
    margin: 15px auto;
    padding: unset;
  }
  .collaborate-cta {
    width: 90%;
  }
}
@media (max-width: 835px) {
  .recent-projects {
    padding: 8% 0 35% 0;
  }
  .project-header {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .clients {
    width: 85%;
  }
  .recent-projects {
    margin-bottom: 180%;
  }
  .project-item-container {
    width: 90%;
    left: 5%;
  }
}
@media (max-width: 500px) {
  .recent-projects {
    margin-bottom: 250%;
  }
}
@media (max-width: 466px) {
  .recent-projects {
    margin-bottom: 270%;
  }
}
@media (max-width: 436px) {
  .recent-projects {
    margin-bottom: 280%;
  }
}
@media (max-width: 407px) {
  .recent-projects {
    margin-bottom: 300%;
  }
}
@media (max-width: 360px) {
  .recent-projects {
    margin-bottom: 315%;
  }
}
@media (max-width: 320px) {
  .recent-projects {
    margin-bottom: 346%;
  }
  .project-item-container {
    padding-top: 300px;
  }
}
