// Home Content
//BSOD

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
//BSoD start
.BSoD{
    // Clean BSOD to accomidate for Jquery animation and new animation
    display:flex;
    align-items:center;
    background-color: @main-color;
    font-family: 'Press Start 2P', sans-serif;
    color: @secondary-color;
    div{
        width: 980px;
        height: 870px; // Change from hardcoded height for responsive displays
        margin: 0 auto;
        color: @secondary-color;
        font-size: 1.8rem; 
        padding: 10% 0 15% 0;
        line-height: 3rem;
        a{
            text-decoration: none;
            color:@secondary-color;
        }
        .highlight {
            font-family: 'Press Start 2P', sans-serif;
            margin: 0 auto;
            text-align: center;
            color: @main-color;
            background-color: rgb(172, 173, 168);
            padding: 3px;
            width: 300px;
            font-size: 1.8rem; 
        }
        .continue {
            text-align: center;
        }
        //Typing animation
        .blink {
            animation: blink 1s steps(2, start) infinite;
        }
        @keyframes blink {
            to {
            visibility: hidden;
            }
        }
    }
}
//End of BSoD
//Page Content

.services {
    text-align: center;
    margin: 2% 0;
    h1{
        margin-bottom: 30px;
    }
    .item-container{
        width: 60%;
        margin: 0 auto;
    }
}

.sub-nav{
    display: flex;
    justify-content: space-between;
    p{  
        width: 30%;
        color: darkgrey;
        margin: 0 auto;
        a{
            margin: 0 2%;
            text-align: center;
            font-size: 1.8rem;
            text-decoration: none;
            color: darkgrey;
            padding: 5px 15px;
            border-radius: 8px;
            border: 1px solid @secondary-color;
            &:hover{
                border: 1px solid darkgray;
                transition: .2s;
            }
        }
    }
}

.item{
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-out;
    //animation end
    margin: 5% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    i{
        font-size: 50rem;
        color: @main-color;
    }
    div{
        width: 35%;
        h2{
            margin-bottom: 4%;
        }
    }
}
//animation
.fade-in{
    opacity: 1;
    transform: translateY(0);
}

.clients{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 65%;
    margin: 0 auto;
    h1{
        text-align: center;
        margin: 3%;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    a{
        transition: .5s;
        &:hover{
            transform: scale(1.1);
        }
    }
}

