// Home Content

.nav-bg{
    max-width: 100%;
    background-color: blue;
}

.BSoD{
    background-color: blue;
    height: 800px;
    div{
        width: 980px;
        margin: 0 auto;
        color: white;
        font-size: 1.8rem; 
        padding: 10% 0 15% 0;
        line-height: 3rem;
    }
}
  