// Navigation code here
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        display: flex;
        justify-content: space-between;
        width: 43%;
        a{
            display: flex;
            font-size: 1.6rem;
            text-decoration: none;
            color: @header-font-color;
            padding: 15px 0;
            border-bottom: 1px solid @main-color;
            i{
                color: @main-font-color;
                margin-right: 8px;
            }
        }
        a:hover{
            border-bottom: 1px solid @border-color;
        }
    }
    .contact{
        padding: 10px 15px;
        border: 1px solid @secondary-color;
        text-decoration: none;
        font-size: 1.6rem;
        color: @secondary-color;
        border-radius: 2px;
        transition: .2s;
        box-shadow: 0px 3px 15px rgba(0,0,0,.25);
    }
    .contact:hover{
        background-color: darken(@nav-bg, 5%);
        box-shadow: unset;
    }
}

.nav-bg{
    max-width: 100%;
    background-color: @nav-bg;
}
.mobile-hamburger{
    display: none;
    margin: 2% 0 0 2%;
    position: absolute;
    cursor: pointer;
}
.mobile-hamburger-close{
    top: 0%;
    left: 0%;
    margin: 2% 0 0 2%;
    position: absolute;
    cursor: pointer;
}
.mobile-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background: @secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: -100vw;
    z-index: 99;
    a{
        text-align: center;
        width: 50%;
        font-size: 3rem;
        text-decoration: none;
        color: @main-font-color;
        padding: 15px 0;
        border-radius: 5px;
        i{
            margin-right: 3%;
        }
        &:hover{
            background-color: darken(@secondary-color, 20%);
        }
    }
    .contact-mobile{
        margin-top: 5%;
        border: 2px solid @main-font-color;
        border-radius: 5px;
    }
}

.mobile-nav-footer{
    position: absolute;
    bottom: 1%;
}

@media @tablet{
    header{
        display: none;
    }
    .mobile-hamburger{
        display: flex;
    }
}

@media @mobile{
    .mobile-hamburger{
        margin: 5% 0 0 5%;
    }
    .mobile-hamburger-close{
        margin: 5% 0 0 5%;
    }
}

// IPhone 5c nav menu fix

@media (max-width: 328px){
    .mobile-menu a{
        width: 80%;;
    }
}